@import "tailwindcss";


body{
  @apply bg-gray-900;
}


div::-webkit-scrollbar {
  width: 8px;
}

div::-webkit-scrollbar-track {
  background: #30307e;
  border-radius: 10px;

}

div::-webkit-scrollbar-thumb {
  background: #fc7d16;
  border-radius: 9999px;
}

div::-webkit-scrollbar-thumb:hover {
  background: #ad5208;
}

